.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.bg-ms-blue{
  background-color: #1f879d;
}

.bg-ms-dark{
  background-color: #3f3f3f;
}

.btn-primary-ms{
  background-color: #1f879d;
}

.btn-danger-ms{
  background-color: #843525;
}

.btn-alert-ms{
  background-color: #847e25;
}

.btn-success-ms{
  background-color: #19745b;
}

.App-header {
  background-color: #1f879d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* Estilo para tabelas com bordas arredondadas */
.table-rounded {   
    border-radius: 0.5rem; /* Define o arredondamento */
    overflow: hidden; /* Para evitar que o conteúdo ultrapasse os cantos arredondados */
}

.table-rounded thead th:first-child {
    border-top-left-radius: 0.5rem;
}

.table-rounded thead th:last-child {
    border-top-right-radius: 0.5rem;
}

.table-rounded tbody tr:last-child td:first-child {
    border-bottom-left-radius: 0.5rem;
}

.table-rounded tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0.5rem;
}

.btn:hover{
  background-color: #3ba3c0 !important;
}
